/*.parent {
    display: grid;
    grid-template-columns: 0px auto auto auto auto auto;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    }
    
   
.div_seitentitel { grid-area: 1 / 2 / 2 / 5; }
.div_logo { grid-area: 1 / 5 / 2 / 7; }

.div_tab_leiste { grid-area: 2 / 2 / 3 / 7; }

.div_graph_oben_links { grid-area: 3 / 2 / 6 / 5; }
.div_graph_unten_rechts { grid-area: 6 / 4 / 9 / 7; }

.div_tabelle_oben_rechts { grid-area: 3 / 5 / 6 / 7; }
.div_auswahl_unten_links { grid-area: 6 / 2 / 9 / 4; }


.main_parent {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 1080px;    
}
    
.div_menüleiste_1 { grid-area: 1 / 1 / 2 / 2; }
.div_menüleiste_2 { grid-area: 2 / 1 / 3 / 2; }
.div_menüleiste_3 { grid-area: 3 / 1 / 4 / 2; }
.div_menüleiste_4 { grid-area: 4 / 1 / 5 / 2; }
.layout_box { grid-area: 1 / 2 / 5 / 3; }*/